.{
    padding: 5px;
    margin: 5px;
}

.mainh2{
    display: flex;
    text-align: center;
}

.repeat{
    border: 3px solid black;
    height:200px;
    width: 500px;
    background-image: url("abes.logo2.png");
    
}

.repeat-x{
    border: 3px solid black;
    height:200px;
    width: 500px;
    background-image: url("abes.logo2.png");
    background-repeat: repeat-x;
    
}

.repeat-y{
    border: 3px solid black;
    height:200px;
    width: 500px;
    background-image: url("abes.logo2.png");
    background-repeat: repeat-y;
    
}

.norepeat{
    border: 3px solid black;
    height:200px;
    width: 500px;
    background-image: url("abes.logo2.png");
    background-repeat: no-repeat;
    background-size: cover;
    
}